<footer class="site-footer">

  <div class="wrapper">

    {%comment%}<h2 class="footer-heading">{{ site.title | escape }}</h2>{%endcomment%}

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          {%comment%}
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
          </li>
          {%endcomment%}
            {% if site.email %}
              <li><a href="mailto:{{ site.email }}">{{ site.author }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%comment%}
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
        {%endcomment%}
      </div>

      <div class="footer-col footer-col-3">
        {%comment%}
        <p>{{ site.description | escape }}</p>
        {%endcomment%}
      </div>
    </div>

  </div>

</footer>
