<h2>Skomentuj...</h2>
<p id='info'>
  <noscript>
    Aby dodać komentarz wymagana jest włączona obsługa JavaScript.
  </noscript>
</p>
<p>
  <input type="text" id="username" name="username" value="" size="22" tabindex="1" placeholder="Nazwa" />
  <span><small>Wymagana</small></span>
</p>
<p>
  <input type="text" id="useremail" name="useremail" value="" size="22" tabindex="2" placeholder="Email" />
  <span><small>Jeśli chcesz otrzymać info o odpowiedzi</small></span>
</p>
<p><input type="text" id="userwebsite" name="userwebsite" value="" size="22" tabindex="3" placeholder="Website" /></p>
<p><input type="text" id="userphone" name="userphone" style="display: none;"/></p>
<p>
  <textarea name="usercomment" id="usercomment" rows="10" tabindex="4" placeholder="Komentarz" style="width: 100%;"></textarea>
</p>
<button id="btn" tabindex="5">Wyślij</button><small><i><sup> beta</sup></i></small>

<script>
$("document").ready(function() {
   $("#btn").click(postComment);

});

function parseUserEmail(userEmail) {
	if (userEmail === '') {
		return null;
	}

	return userEmail;
}

function postComment(){
    $("#info").text("Wysyłanie ...");
    $.ajax({
      url : 'https://comments.devbo.pl/green/comment',
      data : JSON.stringify({
        username : $("#username").val(),
        userEmail : parseUserEmail($("#useremail").val()),
        userwebsite : $("#userwebsite").val(),
        articlefilename : "_posts\/" + $(location).attr("pathname").replace('/', '').replace(/\//g, '-').replace(".html", ".md"),
        usercomment : $("#usercomment").val(),
        userphone : $("#userphone").val(),
      }),
      datatype : "json",
      contentType: "application/json",
      type : 'post',
      success : function(data, textStatus, jqXHR) {
        $("#info").text("Dziękuję, komentarz został przyjęty do realizacji.");
        $("#username").val("");
        $("#useremail").val("");
        $("#userwebsite").val("");
        $("#usercomment").val("");
      },
      error : function(jqXHR, textStatus, errorThrown) {
        try
        {
          var response = $.parseJSON(jqXHR.responseText);
			    var errorKey = Object.keys(response.errors)[0];
			    var error = response.errors[errorKey];
          $("#info").text(error);
        }
        catch(e)
        {
          $("#info").text("Przepraszam, wystąpił nieoczekiwany błąd. Spróbuj ponownie później.");
        }
      }
    });
}
</script>